# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
